# Ignore the bin and original directory
bin/
original/

# Ignore visual studio 2012 bin directories
src/Backup/
src/Debug/
src/Release/
src/*/obj/

# Ignore visual studio files
*.v11.suo

# Ignore stupid windows files
**/Thumbs.db

